<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.FileDAO">

	<insert id="insertFile" parameterType="bfvo">
		insert into file(uuid, save_dir, file_name, file_type, pno, file_size)
		values(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{pno}, #{fileSize})
	</insert>
	
	<select id="selectListAllFiles" resultType="bfvo">
		select * from file
	</select>
	
	<select id="selectListFile" parameterType="long" resultType="bfvo">
		select * from file where pno = #{pno}
	</select>
	
	<select id="selectOnePno" parameterType="string" resultType="long">
		select pno from file where uuid = #{uuid}
	</select>
	
	<select id="selectFileCount" parameterType="long" resultType="int">
		select count(uuid) from file where pno = #{pno}
	</select>
	
	<delete id="deleteFile" parameterType="string">
		delete from file where uuid = #{uuid}
	</delete>
	
	<delete id="deleteAllFile" parameterType="long">
		delete from file where pno = #{pno}
	</delete>
	
</mapper>